<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          Form elements1
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-12">
        <form action="https://httpbin.org/post" method="post" class="card">
          <div class="mb-3">
            <input type="text" class="form-control" name="example-text-input" placeholder="Название проекта">
          </div>
          <div class="text-end">
            <div class="d-flex">
              <button type="submit" class="btn btn-primary ms-auto">Send data</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>