<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          Список проектов
        </h2>
      </div>
      <!-- Page title actions -->
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <span class="d-none d-sm-inline">
            <a href="/add" class="btn btn-primary">Создать</a>
          </span>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="page-body">
  <div class="container-xl">
    <div class="table-responsive">
      <table
    		class="table table-vcenter">
        <thead>
          <tr>
            <th>Проект</th>
            <th>node.js</th>
            <th class="w-1"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-git" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="16" cy="12" r="1"></circle>
                <circle cx="12" cy="8" r="1"></circle>
                <circle cx="12" cy="16" r="1"></circle>
                <path d="M12 15v-6"></path>
                <path d="M15 11l-2 -2"></path>
                <path d="M11 7l-1.9 -1.9"></path>
                <path d="M10.5 20.4l-6.9 -6.9c-.781 -.781 -.781 -2.219 0 -3l6.9 -6.9c.781 -.781 2.219 -.781 3 0l6.9 6.9c.781 .781 .781 2.219 0 3l-6.9 6.9c-.781 .781 -2.219 .781 -3 0z"></path>
              </svg>
              <a href="invoice.html" class="text-reset" tabindex="-1">c9open</a>
              </td>
            <td>8.14.0</td>
            <td>
              <div class="btn-list flex-nowrap">
                <a href="#" class="btn">
                  Edit
                </a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-git" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="16" cy="12" r="1"></circle>
                <circle cx="12" cy="8" r="1"></circle>
                <circle cx="12" cy="16" r="1"></circle>
                <path d="M12 15v-6"></path>
                <path d="M15 11l-2 -2"></path>
                <path d="M11 7l-1.9 -1.9"></path>
                <path d="M10.5 20.4l-6.9 -6.9c-.781 -.781 -.781 -2.219 0 -3l6.9 -6.9c.781 -.781 2.219 -.781 3 0l6.9 6.9c.781 .781 .781 2.219 0 3l-6.9 6.9c-.781 .781 -2.219 .781 -3 0z"></path>
              </svg>
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-git" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <circle cx="16" cy="12" r="1"></circle>-->
              <!--   <circle cx="12" cy="8" r="1"></circle>-->
              <!--   <circle cx="12" cy="16" r="1"></circle>-->
              <!--   <path d="M12 15v-6"></path>-->
              <!--   <path d="M15 11l-2 -2"></path>-->
              <!--   <path d="M11 7l-1.9 -1.9"></path>-->
              <!--   <path d="M10.5 20.4l-6.9 -6.9c-.781 -.781 -.781 -2.219 0 -3l6.9 -6.9c.781 -.781 2.219 -.781 3 0l6.9 6.9c.781 .781 .781 2.219 0 3l-6.9 6.9c-.781 .781 -2.219 .781 -3 0z"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stack" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M12 6l-8 4l8 4l8 -4l-8 -4"></path>-->
              <!--   <path d="M4 14l8 4l8 -4"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-road-sign" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M10.5 20.4l-6.9 -6.9c-.781 -.781 -.781 -2.219 0 -3l6.9 -6.9c.781 -.781 2.219 -.781 3 0l6.9 6.9c.781 .781 .781 2.219 0 3l-6.9 6.9c-.781 .781 -2.219 .781 -3 0z"></path>-->
              <!--   <path d="M9 14v-2c0 -.59 .414 -1 1 -1h5"></path>-->
              <!--   <path d="M13 9l2 2l-2 2"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-packge-export" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M12 21l-8 -4.5v-9l8 -4.5l8 4.5v4.5"></path>-->
              <!--   <path d="M12 12l8 -4.5"></path>-->
              <!--   <path d="M12 12v9"></path>-->
              <!--   <path d="M12 12l-8 -4.5"></path>-->
              <!--   <path d="M15 18h7"></path>-->
              <!--   <path d="M19 15l3 3l-3 3"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-note" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <line x1="13" y1="20" x2="20" y2="13"></line>-->
              <!--   <path d="M13 20v-6a1 1 0 0 1 1 -1h6v-7a2 2 0 0 0 -2 -2h-12a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-notes" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <rect x="5" y="3" width="14" height="18" rx="2"></rect>-->
              <!--   <line x1="9" y1="7" x2="15" y2="7"></line>-->
              <!--   <line x1="9" y1="11" x2="15" y2="11"></line>-->
              <!--   <line x1="9" y1="15" x2="13" y2="15"></line>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock-open" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <rect x="5" y="11" width="14" height="10" rx="2"></rect>-->
              <!--   <circle cx="12" cy="16" r="1"></circle>-->
              <!--   <path d="M8 11v-5a4 4 0 0 1 8 0"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layout-sidebar-left-expand" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <rect x="4" y="4" width="16" height="16" rx="2"></rect>-->
              <!--   <path d="M9 4v16"></path>-->
              <!--   <path d="M14 10l2 2l-2 2"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-folders" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M9 4h3l2 2h5a2 2 0 0 1 2 2v7a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2"></path>-->
              <!--   <path d="M17 17v2a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2h2"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-files" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M15 3v4a1 1 0 0 0 1 1h4"></path>-->
              <!--   <path d="M18 17h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h4l5 5v7a2 2 0 0 1 -2 2z"></path>-->
              <!--   <path d="M16 17v2a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h2"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-symlink" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M4 21v-4a3 3 0 0 1 3 -3h5"></path>-->
              <!--   <path d="M9 17l3 -3l-3 -3"></path>-->
              <!--   <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>-->
              <!--   <path d="M5 11v-6a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-9.5"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-import" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>-->
              <!--   <path d="M5 13v-8a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-5.5m-9.5 -2h7m-3 -3l3 3l-3 3"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-export" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>-->
              <!--   <path d="M11.5 21h-4.5a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v5m-5 6h7m-3 -3l3 3l-3 3"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-description" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>-->
              <!--   <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>-->
              <!--   <path d="M9 17h6"></path>-->
              <!--   <path d="M9 13h6"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-code" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>-->
              <!--   <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>-->
              <!--   <path d="M10 13l-1 2l1 2"></path>-->
              <!--   <path d="M14 13l1 2l-1 2"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-code-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M10 12h-1v5h1"></path>-->
              <!--   <path d="M14 12h1v5h-1"></path>-->
              <!--   <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>-->
              <!--   <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-arrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>-->
              <!--   <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>-->
              <!--   <path d="M9 15h6"></path>-->
              <!--   <path d="M12.5 17.5l2.5 -2.5l-2.5 -2.5"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-3d" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>-->
              <!--   <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>-->
              <!--   <path d="M12 13.5l4 -1.5"></path>-->
              <!--   <path d="M8 11.846l4 1.654v4.5l4 -1.846v-4.308l-4 -1.846z"></path>-->
              <!--   <path d="M8 12v4.2l4 1.8"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-currency-leu" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M17 18h-7a3 3 0 0 1 -3 -3v-10"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-crop" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M8 5v10a1 1 0 0 0 1 1h10"></path>-->
              <!--   <path d="M5 8h10a1 1 0 0 1 1 1v10"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-corner-down-right-double" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M4 5v6a3 3 0 0 0 3 3h7"></path>-->
              <!--   <path d="M10 10l4 4l-4 4m5 -8l4 4l-4 4"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-corner-down-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M6 6v6a3 3 0 0 0 3 3h10l-4 -4m0 8l4 -4"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-components" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M3 12l3 3l3 -3l-3 -3z"></path>-->
              <!--   <path d="M15 12l3 3l3 -3l-3 -3z"></path>-->
              <!--   <path d="M9 6l3 3l3 -3l-3 -3z"></path>-->
              <!--   <path d="M9 18l3 3l3 -3l-3 -3z"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-column-insert-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M14 4h4a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1z"></path>-->
              <!--   <line x1="5" y1="12" x2="9" y2="12"></line>-->
              <!--   <line x1="7" y1="10" x2="7" y2="14"></line>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-code" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <polyline points="7 8 3 12 7 16"></polyline>-->
              <!--   <polyline points="17 8 21 12 17 16"></polyline>-->
              <!--   <line x1="14" y1="4" x2="10" y2="20"></line>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clipboard" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"></path>-->
              <!--   <rect x="9" y="3" width="6" height="4" rx="2"></rect>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-dotted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <line x1="7.5" y1="4.21" x2="7.5" y2="4.22"></line>-->
              <!--   <line x1="4.21" y1="7.5" x2="4.21" y2="7.51"></line>-->
              <!--   <line x1="3" y1="12" x2="3" y2="12.01"></line>-->
              <!--   <line x1="4.21" y1="16.5" x2="4.21" y2="16.51"></line>-->
              <!--   <line x1="7.5" y1="19.79" x2="7.5" y2="19.8"></line>-->
              <!--   <line x1="12" y1="21" x2="12" y2="21.01"></line>-->
              <!--   <line x1="16.5" y1="19.79" x2="16.5" y2="19.8"></line>-->
              <!--   <line x1="19.79" y1="16.5" x2="19.79" y2="16.51"></line>-->
              <!--   <line x1="21" y1="12" x2="21" y2="12.01"></line>-->
              <!--   <line x1="19.79" y1="7.5" x2="19.79" y2="7.51"></line>-->
              <!--   <line x1="16.5" y1="4.21" x2="16.5" y2="4.22"></line>-->
              <!--   <line x1="12" y1="3" x2="12" y2="3.01"></line>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <polyline points="9 6 15 12 9 18"></polyline>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-checkbox" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <polyline points="9 11 12 14 20 6"></polyline>-->
              <!--   <path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-caret-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M18 15l-6 -6l-6 6h12" transform="rotate(90 12 12)"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-pagekit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M12.077 20h-5.077v-16h11v14h-5.077"></path>-->
              <!--</svg>-->
              <!-- https://tabler-icons.io/i/square-1 -->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M12 16v-8l-2 2"></path>-->
              <!--   <rect x="4" y="4" width="16" height="16" rx="2"></rect>-->
              <!--</svg>-->
              <!--https://tabler-icons.io/i/box-multiple-0-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-box-multiple-0" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M14 6a2 2 0 0 1 2 2v4a2 2 0 1 1 -4 0v-4a2 2 0 0 1 2 -2z"></path>-->
              <!--   <rect x="7" y="3" width="14" height="14" rx="2"></rect>-->
              <!--   <path d="M17 17v2a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h2"></path>-->
              <!--</svg>-->
              <!--https://tabler-icons.io/i/circle-0-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-0" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M12 8a2 2 0 0 1 2 2v4a2 2 0 1 1 -4 0v-4a2 2 0 0 1 2 -2z"></path>-->
              <!--   <circle cx="12" cy="12" r="9"></circle>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-minus-vertical" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M12 5v14"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tallymark-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <line x1="10" y1="5" x2="10" y2="19"></line>-->
              <!--   <line x1="14" y1="5" x2="14" y2="19"></line>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"></path>-->
              <!--   <path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <rect x="4" y="4" width="16" height="16" rx="2"></rect>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-stop" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <rect x="5" y="5" width="14" height="14" rx="2"></rect>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-perspective" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M6.141 4.163l12 1.714a1 1 0 0 1 .859 .99v10.266a1 1 0 0 1 -.859 .99l-12 1.714a1 1 0 0 1 -1.141 -.99v-13.694a1 1 0 0 1 1.141 -.99z"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rectangle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <rect x="3" y="5" width="18" height="14" rx="2"></rect>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rectangle-vertical" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <rect x="5" y="3" width="14" height="18" rx="2"></rect>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-squares-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <rect x="8" y="8" width="12" height="12" rx="2"></rect>-->
              <!--   <path d="M8 14.5l6.492 -6.492"></path>-->
              <!--   <path d="M13.496 20.004l6.504 -6.504l-6.504 6.504z"></path>-->
              <!--   <path d="M8.586 19.414l10.827 -10.827"></path>-->
              <!--   <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-squares-diagonal" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <rect x="8" y="8" width="12" height="12" rx="2"></rect>-->
              <!--   <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"></path>-->
              <!--   <path d="M8.586 19.414l10.827 -10.827"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <rect x="8" y="8" width="12" height="12" rx="2"></rect>-->
              <!--   <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"></path>-->
              <!--</svg>-->
              
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layers-subtract" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <rect x="8" y="4" width="12" height="12" rx="2"></rect>-->
              <!--   <path d="M16 16v2a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-8a2 2 0 0 1 2 -2h2"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-box-multiple" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <rect x="7" y="3" width="14" height="14" rx="2"></rect>-->
              <!--   <path d="M17 17v2a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h2"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-terminal-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M8 9l3 3l-3 3"></path>-->
              <!--   <line x1="13" y1="15" x2="16" y2="15"></line>-->
              <!--   <rect x="3" y="4" width="18" height="16" rx="2"></rect>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-book-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <path d="M19 4v16h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12z"></path>-->
              <!--   <path d="M19 16h-12a2 2 0 0 0 -2 2"></path>-->
              <!--   <path d="M9 8h6"></path>-->
              <!--</svg>-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-box" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
              <!--   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
              <!--   <polyline points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3"></polyline>-->
              <!--   <line x1="12" y1="12" x2="20" y2="7.5"></line>-->
              <!--   <line x1="12" y1="12" x2="12" y2="21"></line>-->
              <!--   <line x1="12" y1="12" x2="4" y2="7.5"></line>-->
              <!--</svg>-->
              <a href="invoice.html" class="text-reset" tabindex="-1">app.init</a>
              </td>
            <td>16.14.2</td>
            <td>
              <div class="btn-list flex-nowrap">
                <a href="#" class="btn">
                  Edit
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>